
#input:focus{
  border-color: #007bff; /* Blue border on focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Blue shadow */
}
#input{
  border: 10px solid black;
  color: white;
}
#input:hover {
  border-color: #0056b3; /* Darker blue on hover */
  cursor: pointer; /* Change cursor to pointer */
}